
<form action="/create" method="post" >
<h1 ><내 머릿 속 이야기></h1>

  <form action= "/create" method="post">
      
        <input name="title" id="title" placeholder="제목">
        <textarea name="content" id="content"></textarea>
  
        <button type="submit" >작성하기</button>
        <input type="file" name= "pic"><br><br>
  
</form>